/* Whole HTML Document */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

/* 
Colors:
#e3d393
#a0abda
#8d9bd3
#918450
#4c4839
#ced6f2
*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f1e9d0;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* Desktop Nav */
nav {
  justify-content: space-around;
  align-items: center;
  height: 4rem ;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #704a65;
  border-bottom: #ced6f2;
  border-bottom-style: solid;
}

nav,
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  font-size: 1.2rem;
}

/*nav.active {
  background-color: #04AA6D;
}*/

/* Transition */
a,
.btn {
  transition: all 300ms ease;
}

a {
  color: rgb(255, 206, 70);
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

/* Logo / TopLeft Area */
.logo {
  font-size: 2rem;
  font-family: 'Nabla', cursive;
  font-style: oblique;
}

.logo:hover {
  cursor: default;
}

/* Hamburger Nav */
#hamburger-nav {
  display: none;
}

  /* Icon Position */
.hamburger-menu {
  position: relative;
  display: inline-block;
}

  /* Icon Design */
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

  /* Icon Size */
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

/* Hamburger Menu */
.menu-links {
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  top: 100%;
  border-color: #9c8394;
  border-top-style: none;
  background-color: #e6c7dc;
  width: max-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 5px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 1.2rem;
  color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
  color: rgb(181, 181, 181);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 275px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Section */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* Profile Section */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section_pic-container {
  display: flex;
  height: 400px;
  width: 400px;
}

.section_text {
  align-self: center;
  text-align: center;
}

.section_text_p {
  font-weight: 600;
}

.section_text_p1 {
  font-size: 1.75rem;
  /* margin-bottom: 1rem; */
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}

/* Icon */

.icon {
  cursor: pointer;
  height: 2rem;
  padding: 2px;
}

/* Buttons */

.btn-container {
  display: flex;
  justify-self: center;
  gap: 1rem;

}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  height: 3rem;
}

.btn-color-1, 
.btn-color-2 {
  border: rgb(200, 200, 200) 0.1rem solid;
}

.btn-color-1:hover, 
.btn-color-2:hover {
  background: rgb(1, 89, 89);
  cursor: pointer;
  color: white;
}