/* Whole HTML Document */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@700&display=swap');

:root {
  --dark-violet: #241D4D;
  --light-brown: #B79F71;
  --dirty-white: #FBF8F4;
  --light-violet: #866db6;
  --turq-blue: #598eab;
  --dark-green: #1b647a;
  --mint-green: #d8ead7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #241D4D;
  color: var(--dirty-white)
}

.wrapper {
  width: 1714px;
  margin: 0 auto;
}

/* Buttons */

.btn {
  border-radius: 30px;
  background: #d8ead7;
  display: inline-block;
  padding: 15;
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1.6px;
  position: relative;
  margin-top: 40px;
}

.btn.icon-cv::before {
  content: url(assets/icon-file-download-02.svg);
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.btn.icon-cv {
  padding-left: 65px;
  padding-right: 30px;
}

.btn.icon-contact::before {
  content: url(assets/icon-list.svg);
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.btn.icon-contact {
  padding-left: 65px;
  padding-right: 30px;
}

.btn:hover {
  background-color: #1b647a;
  color: rgb(255, 255, 255);
  transition: all 300ms ease;
}

/* Header */
.top-picture {
  width: 100vh;
  height: 415px;
  flex-shrink: 0;
  border-radius: 16px;
  background: lightgray 0px -224.5px / 100% 306.506% no-repeat;
}

header {
  margin: 0;
  background: linear-gradient(180deg, #25456A 0%, #241D4D 100%);
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1714px;
  top: 36px;
  z-index: 100;
}

.nav-logo {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Aref Ruqaa Ink', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--dirty-white);
}

nav .nav-links {
  display: flex;
  align-items: center;
  gap: 58px;
  list-style: none;
  margin: 0;
}

nav .nav-links li a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
  transition: all 300ms ease;
}

nav .nav-links li a {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

/* Hero Section */

.hero-section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.hero-section .right {
  margin-right: 20px;
}

.hero-section .right h1 {
  color: var(--dirty-white);
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
  text-align: right;
  margin-bottom: 20px;
  margin-top: 20px;
}

.hero-section .right p {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 1.6px;
}

.hero-section .left {
  margin-left: 20px;
}

.hero-section .left img {
  width: 900px;
  border-radius: 30px;
}

.hero-socials {
  display: flex;
  margin-top: 100px;
  position: absolute;
  align-self: right;
  width: 759px;
  height: 100px;
  border-radius: 20px 0px 0px 20px;
  border: 1px solid rgba(0, 0, 0, 0.00);
  background: #DEDCBF;
  box-shadow: 10px 14px 74px 2px rgba(0, 0, 0, 0.65);
}

.hero-socials h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-style: italic;
  color: #443f4a;
  align-self: center;
  margin: 20px;
  padding: 50px;
  z-index: 10;
}

.hero-socials .content h4 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.hero-socials img { 
  width: 50px;
  height: 50px;
  margin-left: 10px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.hero-socials .content {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #B79F71;
  background: #241D4D;
  padding: 5px 20px 5px 20px;
  margin: 10px 5px 10px 5px;
  z-index: 10;
  position: relative;
}

.hero-socials .content:hover {
  cursor: pointer;
  filter: grayscale(90%);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
  transition: all 300ms ease;
}

.hero-socials .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
  border: 1px solid rgba(0, 0, 0, 0.00);
  background: #83826f;
  top: 8px;
  left: 8px;
  z-index: -1;
}